body {
	background-color: white;
	justify-content: center;  
    align-items: center;  
}

h3 {
	color: black;
	text-align: center;
}

.btn {
   text-aliter;
    background: rgb(157, 188, 247);
    color: #ffffff;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-size: 15px;
    padding: 15px 30px;
    width: 250px;
    
}

.MenuButtons {
    flex-direction: column;   
    align-items: center;      
    margin-top: 20px;
    gap: 10px;
}



